/*les Medias Querys*/

$breakpoints: ( tablet: 768px, laptop: 1024px, desktop: 1400px, large: 1900px);

/* les fonts */

$font-title: 'Shrikhand';
$font-primary: 'Roboto',
sans-serif;

 /*les couleurs*/
 $color-primary: #9356DC;
 $color-secondary: #FF79DA;
 $color-tertiary: #99E2D0;